<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ncc.cis18b.project.Borrow" >

    <!-- Parse dependencies -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Camera dependencies -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Storage dependencies -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".WelcomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncc.cis18b.project.Borrow.MainActivity" />
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_new_item"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncc.cis18b.project.Borrow.HomeActivity" />
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BorrowObjectViewActivity"
            android:label="@string/title_activity_borrow_object_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncc.cis18b.project.Borrow.HomeActivity" />
        </activity>
        <activity
            android:name=".SavedItemActivity"
            android:label="@string/title_activity_saved_item" >
        </activity>
        <activity
            android:name=".ComposeMessageActivity"
            android:label="@string/title_activity_compose_message" >
        </activity>
        <activity
            android:name=".ReceivedMessageActivity"
            android:label="@string/title_activity_recieved_message" >
        </activity>
        <activity
            android:name=".SentMessageActivity"
            android:label="@string/title_activity_sent_message" >
        </activity>
        <activity
            android:name=".BorrowMessageViewActivity"
            android:label="@string/title_activity_borrow_message_view" >
        </activity>
    </application>

</manifest>
