<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ncc.cis18b.project.Borrow" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <!-- Parse dependencies -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Camera dependencies -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <!-- Storage dependencies -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:parentActivityName=".WelcomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncc.cis18b.project.Borrow.MainActivity" />
        </activity>
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_new_item"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncc.cis18b.project.Borrow.HomeActivity" />
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/title_activity_welcome"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".BorrowObjectViewActivity"
            android:label="@string/title_activity_borrow_object_view" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.ncc.cis18b.project.Borrow.HomeActivity" />
        </activity>
        <activity
            android:name=".SavedItemActivity"
            android:label="@string/title_activity_saved_item"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_name_activity_profile"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ComposeMessageActivity"
            android:label="@string/title_activity_compose_message"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ReceivedMessageActivity"
            android:label="@string/title_activity_recieved_message"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SentMessageActivity"
            android:label="@string/title_activity_sent_message"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BorrowMessageViewActivity"
            android:label="@string/title_activity_borrow_message_view"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".BorrowedListActivity"
            android:label="@string/title_activity_borrowed_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".LentListActivity"
            android:label="@string/title_activity_lent_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
